dioada-carousel {
    display: block;
    overflow: hidden;
    &.swipe-enabled {
        user-select: none;
    }
    dioada-carousel-items {
        display: flex;
        dioada-carousel-item {
            // This is essential to stop flashing in iOS
            transform: translate3d(0, 0, 0);
            flex: 1;
            display: flex;
        }
    }
    &.dioada-carousel-ready {
        dioada-carousel-items {
            transition: transform 0.6s ease-out;
            @media (prefers-reduced-motion: reduce) {
                transition: none;
            }
        }
    }
}
